--App
*.iml
.gradle
/local.properties
.idea/
android-app/.idea/gradle.xml
android-app/.idea/caches
android-app/.idea/libraries
android-app/.idea/modules.xml
android-app/.idea/workspace.xml
android-app/.idea/navEditor.xml
android-app/.idea/assetWizardSettings.xml
.DS_Store
/build
src/build
/captures
.externalNativeBuild

--WebApp
-- exclude all generated content
web-app/elm-stuff
web-app/src/elm.js
web-app/src/Main.js
web-app/src/elm-stuff

--Electron-App
electron-app/node_modules
electron-app/Fragebogengenerator-win32-arm64
electron-app/Fragebogengenerator-win32-x64
electron-app/Fragebogengenerator-win32-ia32
electron-app/*.html
electron-app/*.js
electron-app/*.css
electron-app/*.zip