--App
*.iml
.gradle
/local.properties
.idea/
android-app/.idea/gradle.xml
android-app/.idea/caches
android-app/.idea/libraries
android-app/.idea/modules.xml
android-app/.idea/workspace.xml
android-app/.idea/navEditor.xml
android-app/.idea/assetWizardSettings.xml
.DS_Store
/build
src/build
/captures
.externalNativeBuild

--WebApp
-- exclude all generated content
web-app/elm-stuff
web-app/Main.js
web-app/src/Main.js
web-app/src/elm-stuff